<h3>@Session["Error"]</h3>

<form action="Login">
    <div class="row">
        <div class="col">
            <label>Username</label>
            <input type="text" class="form-control" placeholder="User Name" name="UserName">
        </div>
        <div class="col">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="Password" name="Password">
        </div>
        <div>
            <input type="submit" />
        </div>
    </div>
</form>